html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
  max-width: 100%;
  width: auto;
}

body {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}


body a,
body button {
  color: #000;
  outline: none !important;
  text-decoration: none !important;
  transition: all ease 0.5s;
}

* {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 38px;
  margin: 10px 0px;
  font-weight: 600;
}

.m-100 {
  margin-bottom: 80px;
}

.what {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 999;
}
.what a {
    color: #fff;
    font-size: 30px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px #00000052;
    background: #08e255;
}

.what a:last-child {
    font-size: 20px;
}

.sec-btn {
  display: inline-block;
  padding: 13px 25px;
  background-color: #773A1D;
  color: #fff;
  transition-duration: .5s;
  overflow: hidden;
  transition-delay:.7s;
  transition-timing-function: ease-out;
  position: relative;
  text-transform: capitalize;
  font-size: 18px;
}
.sec-btn:hover{
  color: #fff;
  background-color: #F9630D;
}
.sec-btn span{
  position: relative;
  z-index: 3;
}
.sec-btn::after{
  position: absolute;
  top: -10px;
  height: 10px;
  right: -10px;
  width: 10px;
  background-color: #F9630D;
  border-radius: 100%;
  content: "";
}
.sec-btn:hover:after{
  animation: right 1s ease-out;
}
.sec-btn::before{
  position: absolute;
  bottom: -10px;
  height: 10px;
  left: -10px;
  width: 10px;
  background-color: #F9630D;
  border-radius: 100%;
  content: "";
}
.sec-btn:hover:before{
  animation: left 1s ease-out;
}

.p-100{
  padding: 80px 0px;
}
.under {
  color: #773A1D;
  padding:0px 10px;
  border-left: 5px solid #F9630D;
  font-size: 20px;
  font-weight: 600;
  font-variant: small-caps;
}
@keyframes right {
  0%{
    top:0;
    right:0;
  }
  50%{
    top:40%;
    width: 10px;
    right:50%;
    height: 10px;
  }
  100%{
    top:0;
    width: 100%;
    right:0;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes left {
  0%{
    bottom:0;
    left:0;
  }
  50%{
    bottom:40%;
    width: 10px;
    left:50%;
    height: 10px;
  }
  100%{
    bottom:0;
    width: 100%;
    left:0;
    height: 100%;
    border-radius: 0;
  }
}

/* ------header-section-start------- */

.top-bar{
  padding: 10px 0px;
  background-color: #eee;
}

.top-left-bar{
  display: flex;
  align-items: center;
}

.top-bar .top-left-bar .email{
  margin-right: 10px;
}
.top-left-bar  a{
  padding-left: 10px;
}
.top-bar .top-left-bar .phone{
  display: none;
}
.top-bar .top-right-bar ul{
  display: flex;
  align-items:center ;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
}
.top-right-bar ul li a{
  background-color: #F9630D;
  color: #fff;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  display:flex;
  align-items:center ;
  justify-content: center;
  margin: 0px 6px;
}
.top-right-bar ul li a:hover{
  background-color: transparent;
  border: 1px solid #F9630D;
  color: #F9630D;
}

.logo-bar{
  position: relative;
  color: #773A1D;
  background-color: #eee;
}

.logo-bar .logo{
  transform: translateY(10px);
  position: relative;
  padding: 5px;
  z-index: 8;
}
.logo-bar .logo img {
  width: 160px;
  position: relative;
  z-index: 434;
  transform: translateY(-10px);
}
.logo-bar .phone,.logo-bar .address{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-bar .address .text,.logo-bar .phone .text{
  flex: 1;
}
.logo-bar .address address{
  margin-bottom: 0;
}
.logo-bar .phone .icon,.logo-bar .address .icon{
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #F9630D;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  background-color: #F9630D;
  padding: 10px 0px;
}
.menu .navbar{
  padding: 0;
}
.menu .navbar-light .navbar-nav .nav-link{
  color: white;
  letter-spacing: 1px;
  padding: 0px;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
}
.menu .navbar-nav .nav-link::before{
  border-bottom: 4px solid #773A1D;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 100%;
  transition: .5s;
  width: 0%;
}
.menu .navbar-nav .nav-link:hover:before{
  width: 100%;
}
.menu .nav-item{
  margin: 0px 17px;
}
.menu .navbar-nav .active{
  border-bottom: #773A1D 4px solid;
}
.menu .book .sec-btn{
  margin-top: 0px;
  cursor:pointer;
  overflow: inherit;
  padding:10px 20px;
}
.menu .navbar-light .navbar-brand{
  display: none;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #F9630D;

}
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu{
  padding: 0;
  width: 240px;
}
/* -------header-section-end------ */

/*----Header-two-----*/

.header .top-bar{
  background-color: #179bd7;
  padding:5px 0px;
}
.header .top-bar .news{
  padding: 5px 20px;
  background-color: rgb(255, 72, 0);
  display: inline-block;
}
header.header .comp{
  text-transform: uppercase;
}
header.header h2 {
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: initial;
}
header.header h2 + span {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  transform: translate(13%, -17px);
  word-spacing: 6px;
}
header.header .comp p {
    margin-bottom: 0px;
    margin-top: -19px;
    font-weight: 600;
    margin-right: 119px;
    text-align: right;
}
.header .top-left-bar{
  display: flex;
  color: #fff;
  align-items: center;
}

.header .top-bar .top-left-bar .email{
  margin-right: 10px;
  position: relative;
  z-index: 3;
}
.header .top-left-bar  a{
  color: #F9630D;
  padding-left: 10px;
}
.header .top-right-bar p{
  margin-bottom: 0px;
  color:#fff;
}
.header .logo-bar{
  padding: 10px 0px;
  background:#fff;
  color:#F9630D;
}
.header .infor{
    margin-top:5px;
}
.header .logo-bar .logo img {
    width: 240px;
}
.header .logo-bar .phone,.logo-bar .address{
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.header .logo-bar .address .text,.logo-bar .phone .text{
  flex: 1;
}
.header .logo-bar .address .text a, .logo-bar .phone .text a{
    color:#000;
}
.header .logo-bar .address address{
  margin-bottom: 0;
}
.header .logo-bar .phone .icon,.logo-bar .address .icon{
  margin-right: 10px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.header .top-bar .top-left-bar .email{
    display:flex;
    align-items:center;
}
.header .top-bar .top-left-bar .email marquee{
    height:30px;
}
.header .top-bar .top-left-bar .email span{
  display:block;
  padding-left:10px;
}
.header .logo-bar .logo-img2{
    display:none;
}
.header .menu{
  background-color: #009cd2;
  padding: 10px 0px;
}
.header .menu .navbar{
  padding: 0;
}
.header .logo{
    padding:5px 10px;
    background:#fff;
    color:#161616;
    text-align:center;
}
.header .logo small{
    display:block;
}
.header .menu .navbar-light .navbar-nav .nav-link{
  color: white;
  letter-spacing: 1px;
  padding: 0px;
  text-transform: uppercase;
  transition: .5s;
  position: relative;
}
.header .menu .navbar-nav .nav-link::before{
  border-bottom: 4px solid #005b9f;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 100%;
  transition: .5s;
  width: 0%;
}
.header .menu .navbar-nav .nav-link:hover:before{
  width: 100%;
}
.header .menu .nav-item{
  margin: 0px 17px;
}
.header .menu .navbar-nav .active{
  border-bottom: #005b9f 4px solid;
}

.header-text{
  padding: 20px;
  background-color: #F9630D;
  color: #fff;
}
.header-text .sec-btn{
  border: 2px solid #fff;
  color: #fff;
  transition: .5s;
}

.header .navbar-light .navbar-brand{
    display:none;
    color:#fff;
}

/*----Header-Two----*/

/* ---Hero-Section-Start--- */

.hero-slide{
  padding: 120px 0px;
  background-image: url(../images/hero.png);
  background-color: #eee;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero-slide::after{
  position: absolute;
  top: 0;
  right: 0;
  width: 49%;
  height: 100%;
  background-image: url(../images/construction-silhouette.jpg);
  background-position: left;
  background-size: cover;
  content: "";
}
.hero-slide2::after{
  background-image: url(../images/building-construction.jpg);
}
.hero-slide h2{
  font-size: 45px;
}
.hero-slide .sec-btn{
  margin-top: 20px;
}
.hero-slide p{
  line-height: 28px;
}
.hero-slider .slick-prev,
.hero-slider .slick-next {
  display: block !important;
  position: absolute;
  top: 40%;
  right: 0px;
  z-index: 99934;
  height: 60px;
  width: 60px;
  background-color: #fff;
  color: #773A1D;
  display: flex;
  border: 3px double #06283D;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px 0px #00ce0027;
  border-radius: 30px 0px 0px 30px;
  font-size: 0px;
      z-index: 1;
}

.hero-slider .slick-prev {
  left: 0px;
  right: auto;
  border-radius: 0px 30px 30px 0px;
}

.hero-slider .slick-arrow::after {
  content: "\f100";
  font-size: 24px;
  font-family: "FontAwesome";
}

.hero-slider .slick-next::after {
  content: "\f101";
}

.hero-slider .slick-prev:hover,
.hero-slider .slick-next:hover{
  background-color: #773A1D;
  border-color: #773A1D;
  color: #fff;
}
/* ---Hero-Section-End--- */

.form-section{
    display:none;
}
/* ------Testimonials-section-start------- */


.testimonial-box {
    background: #f7f9fc;
    padding: 30px;
    margin: 10px;
    border-radius: 12px;
   
    text-align: left;
}

.testimonial-box p {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}

.testimonial-box h4 {
    margin: 0;
    font-size: 18px;
    color: #F9630D;
}

.testimonial-box span {
    font-size: 14px;
    color: #777;
}

.slick-dots li button:before {
    color: #F9630D;
}
.rating {
    margin-bottom: 15px;
}

.rating i {
    color: #f7c600;
    font-size: 16px;
    margin-right: 3px;
}

/* ------Testimonials-section-end------- */
/* ------Service-section-end------- */

.ser-list ul{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.ser-list ul li{
  padding: 10px 20px;
  border:3px double #773A1D;
  transition: .5s;
  font-weight: 500;
  margin-right: 15px;
}
.ser-list ul li:nth-child(1){
  background-color: #773A1D;
  color: #fff;
}
.ser-list ul li:hover{
  cursor: pointer;
  background-color: #773A1D;
  color: #fff;
}
.ser-box {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.ser-box .ser-img {
  overflow: hidden;
}
.ser-box .ser-img img {
  transition: 0.5s;
  height: 280px;
  width: 100%;
  object-fit: cover;
  border: 2px solid #773A1D;
}

.ser-box .ser-item {
  position: relative;
  z-index: 5;
  padding: 20px;
  border-top: 2px solid #F9630D;
  margin: -50px auto 0px;
  width: 85%;
  transition: 1s;
  box-shadow: 0px 20px 40px 0px rgba(184, 182, 182, 0.349);
}
.ser-box:hover .ser-item{
  color: #fff;
}
.ser-box:hover .sec-btn{
  background-color: #fff;
  color: #773A1D;
}

.ser-box .ser-item::after{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  transition: 1s;
  content: "";
  background-color: #F9630D;
  color: #fff;
  z-index: -2;
  left: 0;
}

.ser-box .ser-item::before{
  height: 0;
  width: 100%;
  transition: .7s;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #F9630D;
  z-index: -1;
  left: 0;
}
.ser-box:hover .ser-item::before{
  height: 100%;
}
.ser-box .ser-item p {
  text-align: justify;
  margin-bottom: 10px;
  color: #fff;
}
.ser-box:hover .ser-img img {
  transform: scale(1.1);
}
.ser-box h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.ser-box .ser-icon{
  height: 90px;
  width: 90px;
  background-color: #fff;
  border: 2px solid #F9630D;
  border-radius: 100%;
  position: absolute;
  transition: .5s;
  top: -50px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ser-box .ser-icon img{
  width: 45px;
}
.ser-slider .ser-list.slick-current::before {
  width: 100%;
}
.ser-slider .ser-list.slick-current{
    background-color:#F9630D;
    color:#fff;
}
.slider-nav .ser-list.slick-current img{
  filter: brightness(1);
}
.ser-box:hover .ser-icon{
  background-color: #fff;
}


.service-two .ser-box .text {
  padding: 20px;
}

.service-two .ser-box p {
  margin-bottom: 5px;
}

.slider-nav .ser-list {
  border-radius: 2px;
  margin: 10px;
  text-align: center;
  font-weight: 500;
  padding: 25px 20px;
  background-color: #eee;
  font-size: 18px;
  position: relative;
  text-transform: capitalize;
  transition: .5s;
  line-height: 24px;
  cursor: pointer;
}

.slider-nav .ser-list::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #F9630D;
  transition: .4s;
  content: "";
}

.slider-nav .ser-list:hover::after {
  height: 100%;
}

.slider-nav .ser-list::before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  transform: translate(-50%, -50%);
  height: 3px;
  background-color: #773A1D;
  z-index: 3;
  transition: .4s;
  content: "";
}

.slider-nav .ser-list:hover:before {
  width: 100%;
}


.slider-nav .ser-list img {
  display: block;
  margin: 10px auto;
  position: relative;
  z-index: 9;
  filter: brightness(0);
  transition: .5s;
}
.slider-nav .ser-list:hover img{
  filter: brightness(1);
}
.slider-nav {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}


.slider-nav .ser-list:hover span {
  color: #fff;
  position: relative;
  z-index: 4;
}

.service-two .ser-img img {
  width: 100%;
  height:400px;
  object-fit:cover;
}

.service-two .ser-box .sec-btn {
  margin-top: 0;
}

.ser-para p {
  margin-bottom: 5px;
}


/* ---------ser-section-------- */

/* ----Choose-Section-Start---- */

.choose-section{
  padding: 50px 0px;
  margin: 80px 0px;
  position: relative;
  overflow: hidden;
}
.choose-section::after {
  height: 100%;
  width: 70%;
  background-image:linear-gradient(#F9630Dd2,#F9630Dd2),url(../images/shape.png);
  background-attachment: fixed;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  right: -190px;
  transform: skew(25deg);
}
.choose-section::before {
  height: 100%;
  width: 100%;
  background-color: #e5f2f7;
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.choose{
  padding: 30px;
  background-color: #fff;
}
.choose-section .ch-content ul{
  padding: 0;
  list-style: none;
}
.ch-content ul li{
  display: flex;
  align-items: center;
  margin: 10px 0px;
  color: #F9630D;
  font-weight: 500;
}
.ch-content ul li i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: #F9630D;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}
.ch-content .ch-info{
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.ch-content .ch-info .ch-img img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.ch-content .ch-info .text{
  margin-left: 20px;
  flex: 1;
}
.ch-content h4{
  font-weight: 600;
  font-size: 22px;
}
.ch-item .ch-box{
  padding: 20px;
  background-color: #e5f1f5; 
  margin-top: 20px;
}

.ch-item .ch-box .icon img{
  width: 40px;
}
.ch-item .ch-box h4{
  font-size: 22px;
  margin-top: 10px;
  font-weight: 600;
  color: #F9630D;
}
.ch-item .ch-box p{
  margin-bottom: 0;
}
/* ----Choose-Section-End------ */

/* -----Brand-Section-Start----- */

.brand-section{
  text-align: center;
}
.brand-section .brand-box{
  border: 1px solid #06283D;
  margin: 10px;
  height: 130px;
  padding: 10px;
  border-radius: 10px;
}
.brand-section .brand-box img{
  margin: auto;
  height: 100%;
  object-fit: cover;
}
.brand-section h3{
  font-size: 35px;
  font-weight: 700;
  color: #06283D;
}

/* ---Brand-Section-End---- */

/* ---other-section-start--- */

.quote-form {
  padding: 40px;
  border-top: 7px solid #773A1D;
  margin-right: 30px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.121);
}

.quote-form h3 {
  font-weight: 600;
  text-transform: uppercase;
}
.quote-form .sec-btn{
  border: none;
}
.quote-form input,
.quote-form textarea,.quote-form select {
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px 0px;
  border: none;
  background-color: #eee;
}
.quote-form select{
  padding: 12px 20px;
  color: #323131;
}
.oth-content ul{
  padding: 0;
}
.oth-content ul li{
  display: flex;
  align-items: center;
  margin: 10px 0px;
  font-weight: 500;
}
.oth-content ul li i{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: #F9630D;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}

.quote-img {
  height: 100%;
  margin-left: -57px;
}
.other-section .quote-img img{
  height: 100%;
  object-fit: cover;
}

/* ---Other-section-end--- */


/* -----------counter-section-start--------- */

.counter-section {
  position: relative;
}

.cont-box {
  padding: 20px;
  transition: .5s;
  text-align: center;
  background-color: #F9630D;
  color: #fff;
  box-shadow: 0px 10px 20px 0px #F9630D18;
}

.cont-box img {
  transition: .4s;
}

.cont-box:hover img {
  filter: brightness(88);
}

.cont-box:hover {
  background-color: #773A1D;
  color: #fff;
}

.cont-box h2 {
  font-size: 45px;
  margin-top: 20px;
  font-weight: 500;
  color: #773A1D;
  position: relative;
  line-height: 30px;
}
.cont-box:hover h2{
  color: #F9630D;
}
.cont-box p {
  margin: 0;
}

.cont-box h2::after {
  content: "+";
  font-size: 55px;
}
.cont-box h2.h2::after {
  content: "y";
  font-size: 40px;
}
.cont-box .count-two::after {
    content:"%";
    font-size: 35px;
}
.contact-section .cont-box p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}

.cont-box:hover a {
  color: #fff;
}

.cont-box h4 {
  margin-top: 15px;
}

/* ---counter-section-end--- */

/* ------footer-section-start------- */

.footer-section {
  padding-top: 30px;
  position: relative;
  background-image:linear-gradient(#01061bea,#01061b79),url(../images/footer.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.footer-logo {
  margin-bottom: 10px;
  background-color: #fff;
  display: inline-block;
}

.footer-box {
  position: relative;
  margin-top: 20px;
  z-index: 4;
}

.footer-logo img {
  width: 200px;
}

.footer-box .social {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-box .social li {
  margin: 0px 5px;
}

.footer-box .social li a {
  height: 40px;
  width: 40px;
  display: flex;
  transition: .5s;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}

.footer-box .social li a {
  background-color: #773A1D;
}


.footer-box .social li a:hover {
  color: #773A1D;
  background-color: #fff;
  border-radius: 100%;
}

.footer-box .footer-title h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #773A1D;
  font-weight: 700;
  position: relative;
}

.footer-box .footer-title h4::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  width: 50px;
  border-radius: 10px;
  height: 3px;
  content: '';
}

.footer-link ul li a:hover {
  color: #773A1D;
}

.footer-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-box ul li {
  margin: 10px 0px;
}

.footer-box ul li a {
  color: #fff;
}

.footer-link2 ul li {
  display: flex;
  align-items: center;
}

.footer-link2 ul li a:hover {
  color: #773A1D;
}

.footer-link2 ul li i {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  transition: .5s;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #773A1D;
  font-size: 20px;
}

.footer-link2 ul li:hover i {
  background-color: #fff;
  border-radius: 100%;
  color: #773A1D;
}

.footer-link2 ul li span,
.footer-link2 ul li a {
  flex: 1;
}

.footer-section .copy-right {
  text-align: center;
  padding: 10px;
  z-index: 7;
  margin-top: -10px;
  background-color: #773A1D;
  position: relative;
}

.footer-section .copy-right p {
  margin-bottom: 0;
}

.footer-section .copy-right p a {
  color: #F9630D;
  font-weight: 600;
}


.footer-box .gallery-box  img{
  height: 85px;
  object-fit: cover;
  width:100%;
}
.f-turck{
  padding-top: 100px;
  padding-bottom: 10px;
  position: relative;
  overflow-x: hidden;
}

.f-turck img{
  width: 100px;
}
.f-turck .f-img{
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 100%;
}

.f-turck .f-img1{
  animation: sup 10s linear  infinite;
}

.f-turck .f-img2{
  animation: move 12s linear  infinite;
  transform: rotateY(180deg);
}

@keyframes sup{
  0%{transform: translate(-100%);}
  100%{transform: translate(100%);}
}
@keyframes move{
  0%{transform: translate(100%) ;}
  100%{transform: translate(-100%);}
}
/* ------footer-section-end-------- */

/* ---Banner-Section-Start--- */

.banner-section{
  background-image:url(../images/banner.jpg);
}
.banner-title{
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
  color: #fff;
}
.banner-section ul{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14px 20px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 0;
  clip-path: polygon(6% 0, 94% 0, 100% 100%, 0 100%);
  width: 300px;
}
.banner-section ul li{
  padding: 5px;
  font-size: 17px;
  font-weight: 500;
  list-style: none;
}
.banner-section ul li a{
  color: #773A1D;
}
.banner-section ul li:hover a{
  color: #F9630D;
}
/* ---Banner-Section-End--- */

 /* ----Mission-Section-Start---- */

 .mission-section .ms-box{
  padding: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px 0px #5503751d;
  transition: .5s;
  height: 100%;
}
.mission-section .ms-box:hover{
  background-color: #F9630D;
  color: #fff;
}
.ms-box h4{
  margin-top: 16px;
}
.mission-section .ms-box:hover img{
  filter: brightness(688);
}
/* ----Mission-Section-End---- */

/* ---Team-Section-Start--- */
.team-head{
  text-align: center;
}
.team-box{
  transition: .6s;
  padding-top: 30px;
  margin: 10px 13px;
  position: relative;
}
.team-box:hover{
  color: #fff;
}
.team-box::after{
  height: 60%;
  width: 100%;
  content: "";
  background-color: #eee;
  border-radius: 30px 30px 10px 10px;
  position: absolute;
  bottom: 0;
  transition: .4s;
  border: 3px double #F9630D;
  left: 0;
}
.team-box:hover::after{
  background-color: #F9630D;
}
.team-box::before{
  height: 100%;
  width: 100%;
  transform: scale(1,0);
  content: "";
  background-color: #773A1D;
  border-radius: 10px;
  position: absolute;
  top: 0;
  transition: .4s;
  left: 0;
}
.team-box:hover::before{
  transform: scale(1);
}
.team-box .team-img{
  width: 80%;
  margin: auto;
}
.team-box .team-img img{
  border: 3px double #773A1D;
  border-radius: 10px;
  z-index: 99;
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: relative;
}
.team-box .text{
  position: relative;
  z-index: 3;
  text-align: center;
  padding: 30px 0px;
}
.team-box .text h4{
  color: #773A1D;
  font-size: 22px;
  font-weight: 600;
}
/* ---Team-Section-End----- */

/* ---Network-Section-Start--- */
.ns-head {
  text-align: center;
}

.network-section .ns-box {
  padding: 20px;
  background-color: #eee;
  position: relative;
  height: 100%;
  transition: .5s;
}

.network-section .ns-box::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: .5s;
  background-color: #773A1D;
  content: "";
}

.network-section .ns-box:hover:after {
  height: 100%;
}

.ns-box .icon {
  height: 90px;
  background-color: #773A1D;
  border-radius: 100%;
  margin-right: 20px;
  z-index: 9;
  transition: .5s;
  position: relative;
  color: #fff;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ns-box:hover .icon {
  background-color: #F9630D;
}

.ns-box .icon img {
  width: 50px;
  transition: .5s;
}

.ns-box:hover .icon img {
  filter: brightness(588);
}

.ns-box .text {
  position: relative;
  z-index: 9;
  margin-top: 10px;
}

.ns-box .text h4 {
  font-size: 22px;
  font-weight: 600;
  transition: .5s;
}

.ns-box:hover .text h4 {
  color: #F9630D;
}

.ns-box .text a b {
  color: #773A1D;
  font-weight: 700;
}

.ns-box:hover .text a b {
  color: #F9630D;
}

.ns-box .text address {
  margin-bottom: 0;
}

/* ---Network-Section-End--- */

/* ----contact-section-start----- */

.contact-box {
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
  transition: 0.5s;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 20px;
}
.contact-box::after {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s;
  background-color: #F9630D;
  width: 100%;
  transform: scale(0, 1);
  height: 100%;
  border-radius: 6px;
  content: "";
}
.contact-box:hover::after {
  transform: scale(1);
}
.contact-box:hover {
  color: #fff;
}
.contact-box .icon {
  margin-right: 20px;
}
.contact-box .icon img {
  width: 40px;
  position: relative;
  z-index: 2;
}
.contact-box:hover .icon img {
  filter: brightness(244);
}
.contact-box:hover a {
  color: #fff;
}
.contact-box .text {
  border-left: 2px solid #773A1D;
  padding-left: 20px;
  position: relative;
  flex: 1;
  z-index: 2;
}
.contact-box .text span{
  font-weight: 500;
  color: #773A1D;
}
.contact-box address{
  margin-bottom: 0;
}
/* ----contact-section-end----- */
.map-section .map{
  height: 450px;
}

.right-box {
  position: fixed;
  top: 50%;
  transform: rotate(-270deg);
  right: -105px;
  z-index: 9999;
  text-transform: capitalize;
  text-align: center;
}
.right-box ul{
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff;
  margin: 0;
  list-style: none;
}
.right-box ul li{
  background-color: #773A1D;
  padding: 10px 20px;
  cursor: pointer;
}
.right-box ul li:first-child{
  opacity:0;
}
.right-box ul li a{
  color: #fff;
}

/*-----popup-section-----*/


.pop{
  display: none;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: .6s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999999;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.539);
}

.pop-form{
  padding:40px 20px 20px;
  width: 50%;
  position: relative;
  animation: top 1s linear ;
}
.pop-form .close{
  position: absolute;
  top: 37px;
  right: 50px;
  cursor: pointer;
  color: #773A1D;
  font-size: 30px;
  line-height: 50px;
}
.pop-form input,.pop-form select,.pop-form textarea{
  width: 100%;
  padding: 13px;
  outline: none;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #efe6bf;
  border: none;
  color: rgb(120, 115, 115);
  font-size: 18px;
}
.pop-form button{
  outline: none;
  border: none;
}
@keyframes top {
  0%{
    margin-top: -100%;
  }
  100%{
    margin-top: 0px;
  }
}
/*-----popup-section-----*/

/* ---foot-list--- */
.foot-list{
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  z-index: 999;
  background-color: #773A1D;
}
.foot-list ul{
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  list-style: none;
}
.foot-list ul li a{
  border-right: 1px solid #773A1D;
}
.foot-list ul li:last-child a{
  border: none;
}
.foot-list ul li a{
  display: flex;
  align-items: center;
  text-align: center;
  background: #773A1D;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
.foot-list ul li a span{
  display: inline-block;
}

@media screen and (max-width:1200px) {
    .logo-bar::after {
    width: 25%;
}
.logo-bar .logo img{
    width:170px;
}
}

@media screen and (max-width:1024px) {

.hero-slide {
  padding: 80px 0px;
}

.ser-box .ser-item{
  width: 95%;
}
.ser-box h4{
  position: relative;
  z-index: 3;;
}
.logo-bar .logo img{
    width:150px;
}
h2 {
  font-size: 35px;
}
.p-100{
  padding: 60px 0px;
}
.choose-section{
  margin: 60px 0px;
}
.footer-box .g-photo li img {
  width: 65px;
  height: 75px;
}
.footer-section .f-gallery{
  display: none;
}
.m-100{
  margin-bottom: 60px;
}
.ns-box .text h4{
  font-size: 20px;
}
h2 {
  font-size: 30px;
}
.menu .nav-item {
  margin: 0px 10px;
}
.menu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
  font-size: 14px;
}
.logo-bar::after{
  width: 30%;
}
.hero-text h2 {
  font-size: 35px;
}
.slider-nav .ser-list{
    font-size:19px;
}
}

@media screen and (max-width:992px) {
  .logo-bar .logo,.logo-bar::after{
    display: none;
  }
  .header .logo-bar .logo{
    display: block;
  }
  .logo-bar .phone .icon, .logo-bar .address .icon{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    font-size: 15px;
  }
 .header .menu .navbar-light .navbar-brand::after{
     display:none;
 }
  .menu .navbar-toggler-icon{
     width: auto; 
     height: auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color:#F9630D;
  }
  .menu .navbar-light .navbar-toggler-icon{
      background-image:none;
  }
   .menu .navbar-toggler-icon::after{
       content:"\f550";
       font-family:"FontAwesome";
   }
  .navbar-light .navbar-toggler{
    border: 4px double #773A1D;
  }
  .header .menu .nav-item {
     margin: 10px 0px; 
}
  .menu .nav-item{
    margin:5px 0px;
  }
  .menu .navbar-light .navbar-nav .nav-link{
    display: inline-block;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .menu .book{
    margin-bottom: 20px;
  }
  .as-img .as-img2{
    display: block !important;
  }
  .menu .navbar-light .navbar-brand{
    display: block;
    position: relative;
    padding: 0px;
  }
  .menu .navbar-light .navbar-brand::after{
    height: 100%;
    width: 260px;
    /* background-color: #fff;
    background-image:linear-gradient(#ffffffce,#ffffffce),url(../images/shape.png) ; */
    left: -50px;
    content: "";
    position: absolute;
    top: 0;
  }
  .menu .navbar-light .navbar-brand img{
    width: 190px;
    position: relative;
    z-index: 2;
  }
  .logo-bar{
    padding: 4px 0px;
  }
  .logo-bar .logo {
    transform: translateY(0px);
}
.header-text{
    text-align:center;
}
  .menu{
    padding: 0px;
    background-color: #fff;
  }

}


@media screen and (max-width:768px) {
  .choose-section::after,.choose-section::before,.ser-nav .ser-list img, .quote-img {
   display: none;
}
.choose-section,.choose{
  padding: 0;
}
.p-100 {
  padding: 50px 0px;
}
.header .top-bar .top-left a{
    display:block;
}
.header .top-box:nth-child(3){
    display:none;
}

.header .menu .navbar-light .navbar-nav .nav-link{
    padding:0px;
}
.oth-content{
  margin-top: 30px;
}
.choose-section{
  margin: 50px 0px;
}
.ser-box {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
.banner-title{
  padding-top: 80px;
  padding-bottom: 50px;
}
.banner-section ul{
  padding: 10px;
}
.banner-section{
  background-position: center;
}
.ser-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.slider-nav .ser-list{
  padding: 13px 20px;
  margin: 5px;
}
.footer-section .f-gallery{
  display: block;
}
.footer-box .g-photo li img {
  width: 75px;
  height: 75px;
}
.map-section .map {
  height: 300px;
}
.hero-slide2::after,.hero-slide::after{
  display: none;
}
.hero-slide{
  padding: 50px 0px;
  color: #fff;
  background-image:linear-gradient(#0000009f,#0000009f),url(../images/hero1.jpg);
}
.hero-slide2{
  background-image: linear-gradient(#0000009f,#0000009f),url(../images/hero2.jpg);
}
.slider-nav .ser-list {
    font-size: 20px;
}
}

@media screen and (max-width:580px) {

.ser-nav .ser-list {
  padding:10px;
  font-size: 16px;
}
.hero-slider .under{
    border-left:2px solid #fff;
}

.form-section{
    display:block;
}

.other-section .quote-form{
    display:none;
}
.logo-bar{
    display:none;
}
.header .top-bar{
    border-bottom:1px solid #eee;
}
.header .logo-bar{
    display:block;
}
 .logo-bar .phone .text span{
     display:none;
 }
 .header .logo-bar .phone .text a{
     font-size:13px;
     color:#fff;
 }
.header .logo-bar{
    position:relative;
}
.header .logo-bar::after {
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background: #773A1D;
    position: absolute;
    content: "";
}
.head-info{
    position:relative;
    z-index:33;
}
 .header-text {
    padding:20px 0px;
}
.under{
  font-size: 16px;
}
.ser-list ul li{
  padding: 10px;
}
h2 {
  font-size: 25px;
}
.ch-item .mt-5{
  margin-top: 0 !important;
}
.cont-box p{
  font-size: 15px;
  margin-top: 10px;
}
.cont-box{
  padding: 15px;
}
.p-100{
  padding: 40px 0px;
}
.oth-content ul{
  margin-bottom: 0;
}
.quote-form{
  margin-right: 0;
  padding: 30px 20px;
}
.ser-list ul li{
  font-size: 15px;
}
.f-turck img {
  width: 60px;
}
.f-turck{
  padding-top: 60px;
}
.menu .navbar-brand img {
  width: 150px;
}
.service-two .ser-box p{
  text-align: justify;
}
.footer-box .g-photo li img{
  height: 120px;
  width: 120px;
}
.top-right{
  flex-wrap: wrap;
}
.m-100 {
    margin-bottom: 40px;
}
.hero-item {
    right: -172px;

}
.pop-form {
    padding: 40px 20px 20px;
    width: 100%;
}
.pop-form input, .pop-form select, .pop-form textarea {
    padding: 10px;
    margin-top: 5px;
}
.menu .navbar-light .navbar-brand::after {
  width: 220px;
}
.menu .navbar-light .navbar-brand img{
  width: 150px;
  padding:10px;
}
.foot-list{
  display: block;
}
.what {
  bottom: 70px;
  left: 10px;
}
.footer-section .copy-right{
  margin-bottom: 60px;
}
.right-box{
  top: 41%;
}
.hero-slide{
    background:#F9630D;
}
.hero-text h2 {
  font-size: 25px;
  line-height: 34px;
}
.hero-slider .slick-prev,.hero-slider .slick-next{
  display: none !important;
}
.hero-slide p {
  line-height: 28px;
  font-size: 15px;
}
.slider-nav .ser-list{
    font-size:18px;
}
}
@media screen and (max-width:400px) {
  .foot-list ul li a{
    padding: 10px 15px;
  }
  .footer-box .g-photo li img{
    width: 100px;
    height: 100px;
  }
   .header .logo-bar .phone .text a{
     font-size:12px;
 }


}

/*---thank-Section-Start----*/

.thank{
  text-align:center;
  height: 100vh;
  width: 100%;
  margin-top:100px;
}
.thank .icon img{
    width:70%;
}
.thank ul{
  padding:0;
  list-style:none;
  display:flex;
  align-items:center;
}
.thank ul li a{
  height:40px;
  width:40px;
  background:#ffb700;
  color:#fff;
  display:flex;
  align-items:center;
  margin:5px;
  border-radius:5px;
  justify-content:center;
}

@media screen and (max-width:1024px) {
.thank{
  margin-top:80px;
}
}

@media screen and (max-width:768px) {
  .thank{
  margin:50px 0px;
  height:auto;
}
}

@media screen and (max-width:580px) {
.thank{
  margin:20px 0px;
}
.logo-bar{
    padding:10px 2px;
}
.logo-bar .address .text span b, .logo-bar .phone .text span b,.logo-bar  br{
    display:none;
}
.logo-bar .phone .icon, .logo-bar .address .icon {
    height: auto;
    width: auto;
    border-radius: 5px;
    margin-right:10px;
    background:transparent;
    color:#F9630D;
}
}

/*---thank-Section-end----*/
